import { test } from "vitest";
import { Instance, offlineAuth, RuntimeManager } from "../../dist/index.js";
import path from "path";
import fs from "fs/promises";
import { getJavaComponent } from "../../src/index.js";

const gameRoot = path.join(import.meta.dirname, "..", "temp");
// await fs.rm(gameRoot, { recursive: true, force: true });
// await fs.mkdir(gameRoot, { recursive: true });

test("launch game", { timeout: 0, tags:["full", "vanilla"] }, async () => {
  const instance = new Instance();
  const javaManager = new RuntimeManager(path.join(gameRoot, "java"));

  javaManager.on("progress", console.log)

  // const java = await javaManager.use(await getJavaComponent("${version}"))

  const auth = offlineAuth("player");

  instance.setVersion("${version}");
  instance.setPaths(gameRoot);
  instance.setJavaExecutable("${java}")
  instance.setAuth(auth);

  instance.on("progress", console.log);

  await instance.install();
  const p = await instance.launch();

  p.stdout.on("data", (d: Buffer) => {
    console.log(d.toString());
  });

  p.stderr.on("data", (d: Buffer) => {
    console.log(d.toString());
  });

  await new Promise<void>((res) => {
    p.on("error", (d: Buffer) => {
      console.log(d.toString());
      res();
    });
    p.on("close", () => {
      console.log("closed");
      res();
    });
  });
});
